[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=2

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=2

[{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
indent_style=space
indent_size=2

[*.json]
indent_style=space
indent_size=2

[*.java]
indent_style=space
indent_size=2

[*.{kt,kts}]
indent_style=space
indent_size=2
continuation_indent_size=2
insert_final_newline=true