<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.antonshilov.splashio">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.SET_WALLPAPER"/>

  <application
    android:name=".SplashioApp"
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_descriptor"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".ui.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <action android:name="android.intent.action.VIEW"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label=""
      android:name=".ui.fullscreen.FullscreenImageActivity">
      <!--<meta-data-->
      <!--android:name="android.support.PARENT_ACTIVITY"-->
      <!--android:value=".ui.MainActivity"/>-->
    </activity>
    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="20634c9feff687da6aab9ef2cd826f7897e295b5"
    />
  </application>

</manifest>